config_opts['root'] = 'esgrep-centos-7-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'groupinstall buildsys-build'
config_opts['chroot_additional_packages'] = 'redhat-lsb-core'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

[base]
name=CentOS-$releasever - Base
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os
baseurl=http://mirror.nexcess.net/CentOS/7/os/x86_64/
failovermethod=priority

[updates]
name=CentOS-$releasever - Updates
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=updates
baseurl=http://mirror.nexcess.net/CentOS/7/updates/x86_64/
failovermethod=priority

[extras]
name=CentOS-$releasever - Extras
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=$basearch&repo=extras
baseurl=http://mirror.nexcess.net/CentOS/7/extras/x86_64/

[epel]
name=epel
#includepkgs=ccache libmcrypt* mhash* freetds* epel-release eventlog* libnet* firebird* jemalloc* libmicrohttpd* liblzf*
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-7&arch=x86_64
baseurl=http://mirror.nexcess.net/epel/7/x86_64/
failovermethod=priority

"""
